1 VERSIONINFO
FILEVERSION 1, 1, 0, 0
PRODUCTVERSION 1, 1, 0, 0
FILEOS 0x40004
FILETYPE 0x2
{
	BLOCK "StringFileInfo"
	{
		BLOCK "040904B0"
		{
            VALUE "CompanyName", "user95041"
            VALUE "FileDescription", "convert .bro file from geode-sdk into ida script to set names"
            VALUE "FileVersion", "1.1.0.0"
            VALUE "InternalName", "geode-bindings-to-ida-script"
            VALUE "LegalCopyright", "user666's original"
            VALUE "OriginalFilename", "geode-bindings-to-ida-script.exe"
            VALUE "ProductName", "geode-bindings-to-ida-script"
            VALUE "ProductVersion", "1.1.0.0"
		}
	}
	BLOCK "VarFileInfo"
	{
		VALUE "Translation", 0x0409 0x04B0
	}
}